*{
    padding: 0%;
    margin: 0%;
}
.navbar a{
    color:white;
}

.dropdown:hover .dropdown-menu{
    display:block;
    color:black;
}

.sticky-logo{

	list-style-type: none;
	position: fixed;
	top: 200px;
	right: 20px;
	float: right;
	z-index: 999999;
}
.sticky-logo li{
	height: 40px;
	width: 40px;
	background: steelblue;
	margin-top:10px;
	border-radius: 5px;
	text-align: center;
}
.sticky-logo i{
	margin-top: 10px;
	font-size: 20px;
	color: white;
}
.sticky-logo li:hover i{
	transform: scale(1.2);
}
.whyb{
    height: 430px;
    width: 100%;
    /* background-color: green; */
    background-image: url(../images/media11.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.whyopacity{
    height: 430px;
    width: 100%;
    background: rgba(0, 0, 0, .5)
/* background-color: red; */
    /* background-color: rgba(0px, green, blue, alpha); */
}

.celan{
    margin-left: 70px;
    padding-top: 180px;
    /* margin-top: 300px; */
}
.celand{
    margin-left: 70px;
}
.shad{
    box-shadow: 0px 0px 20px 0px gray;
    
}
.month{
    height: 580px;
    width: 180px;
}
.month li{
    height: 30px;
    width: 40%;
    margin-left:50px;
}

.navbar a{
    color:white;
}

.shap{
    background-image: url(../images/about-page-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
     
    }

    .card-type{
        position: absolute;
        top:30px;
        left:30px;
        padding:3px 10px;
        color: #fff;
        background: #12687f;
        z-index: 1;
    }
    .hover-ripple{
        transition: 0.2s ease-in
        ;
    }
    
    .uni-plus{
        position: relative;
        padding:0px;
    }
    .hover-overlay{
        position:absolute;
        height: 100%;
        width: 100%;
        top:0;
        left:0;
        text-align: center;
        background: rgba(0,195,200,0.9);
        transition:0.45s ease;
        opacity: 0;
    }
    .hover-overlay a{
        position: relative;
        font-size: 46px;
        color: #fff;
        top:50%;
        transform: translateY(-50%)scale(0);
        transition: inline-block;
    }